{% extends "app/layout.html" %}
{% block content %}
<head>


</head>
<body>

        <meta charset="utf-8" />
      <form method="POST" action="back" enctype='multipart/form-data'>
              {% csrf_token %}

        <div class="submit">
            <input class="cta" type="submit" value="continue shopping"/>
        </div>
          </form>
        <form method="POST" action="ourcart" enctype='multipart/form-data'>
                {% csrf_token %}

         <div class="submit">
            <input class="cta" type="submit" value="to the cart"/>
        </div>
            </form>
    <form action="" method="POST">
{% if s %}
        <body style="background-color:{{s.color}};">
    {% endif %}
            </form>
</body>
{% endblock %}