{% extends "app/layout.html" %}

{% block content %}


<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    call us with this number
    <br />
    08-507138055
</address>

<address>
    <form method="post" action="sendtomanager">
                {% csrf_token %}

<textarea rows="7" cols="40" name="sendmess"/>
        write your message here
        </textarea><br />
        <input type="submit" value="send" />
    </form>
     <a href="mailto:Support@example.com"></a><br />
     <a href="mailto:Marketing@example.com"></a>
</address>
    <form action="" method="POST">
{% if s %}
        <body style="background-color:{{s.color}};">
    {% endif %}
            </form>
{% endblock %}
