{% extends "app/layout.html" %}

{% block content %}
<style>
body {
    height: 1000px;
   width: 100%;
  background-image: url('https://cdn.hipwallpaper.com/i/8/53/vygBsh.jpg');
  background-size: 1400px 700px;
}
</style>

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    call us with this number
    <br />
    08-507138055
</address>

<address>
    <form method="post" action="sendtomanager">
                {% csrf_token %}

<textarea rows="7" cols="40" name="sendmess"/>
        write your message here
        </textarea><br />
        <input type="submit" value="send" />
    </form>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
