{% extends "app/layout.html" %}
{% block content %}





<body>
    <div class="container">
<form action="{% url 'updatestud' %}" method="POST">
{% if s %}
        <body style="background-color:{{s.color}};">

{% else %}
            <body style="background-color:{{color}};">
    {% endif %}

 </form>
</div>
 
    <div class="container">
<form action="{% url 'search' %}" method="POST">
    {% csrf_token %} 
    <input type="text" id="search" name="name">
    <input type="submit" name="submit" value="Search">
</form>


    
    
    <div class="container">
    <form method="get" action="{% url 'Search' %}">
      
                <h2 class="is-size-5">Price range</h2>

                <div class="field">
                    <label>From</label>
                    <div class="control">
                        <input type="number" name="price_from" class="input" value="{{ price_from }}">
                    </div>
                </div>

                <div class="field">
                    <label>To</label>
                    <div class="control">
                        <input type="number" name="price_to" class="input" value="{{ price_to }}">
                    </div>
                </div>
            </div>

            <div class="column is-4">
                <h2 class="is-size-5">Sorting</h2>

                <div class="field">
                    <label>Select sorting criteria</label>

                    <div class="control">
                        <div class="select">
                            <select name="sorting">
                                <option value="-date_added"{% if sorting == '-date_added' %} selected{% endif %}>Newest first</option>
                                <option value="price"{% if sorting == 'price' %} selected{% endif %}>Price low-high</option>
                                <option value="-price"{% if sorting == '-price' %} selected{% endif %}>Price high-low</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-12">
                <div class="field">
                    <div class="control">
                        <button class="button is-success">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


<section id="team" class="pb-5">
    <div class="container">  
<div class="row">  
{% for sts in stu %}

    
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><li><a href="{% url 'show' %}"><img src='{{ MEDIA_URL }}{{ sts.image }}' alt="" style="width:60%"></a></li></p>
                                    <h1 class="card-title">{{ sts.name }}</h1>
                                   <h4> <p class="card-text">Phone: {{ sts.phone }}</p></h4>
                                    <h4><p class="card-text">Price: {{ sts.price }}$</p></h4>

                                </div>
                            </div>
                        </div>
                         

                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    
                                 
                                    <form action="show/"  method="POST">
                                        {% csrf_token %}
                                    
                                        
                               <input type="hidden" name="thetutor" value={{sts.username}} />
                                            <h5> <button>More Details?</button></h5>

                                        </form>
                                   
                                </div>
                            </div>
                        </div>
                           
                    </div>
                </div>
           </div>
         </div>
           </div>

            {% endfor %}
 
        </div>
    </div>
    </body>

      {% endblock %}  




















