{% extends "app/layout.html" %}

{% block content %}

<style>
.b1 .glow-on-hover {
    
    height: 30px;
     width: 15%;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 80px;
    margin-bottom: 200px;
    margin :3px;
    margin-left: 300px;
    
   
}
.b1 .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingBone 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.b1 .glow-on-hover:active {
    color: #000
}

.b1 .glow-on-hover:active:after {
    background: transparent;
}

.b1 .glow-on-hover:hover:before {
    opacity: 1;
}

.b1 .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

 @keyframes glowingBone {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
</style>
<style>
body {
    height:500px;
   width: 120%;
  background-image: url('https://www.colorhexa.com/446ccf.png');
  background-size: 1400px 700px;
}
</style>
<h2>{{ title }}</h2>

    <div class="col-md-8">
        <section id="loginForm">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <h4>Use a local account to log in.</h4>
                <hr />
                <div class="form-group">
                    <label for="id_username" class="col-md-2 control-label">User name</label>
                    <div class="col-md-10">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        {{ form.password }}
                    </div>
                </div>
                <div class="b1">
<button class="glow-on-hover" type="submit"> Log in</button>
</div>
             
                <div></div>
                {% if form.errors %}
                <p class="validation-summary-errors">Please enter a correct user name and password.</p>
                {% endif %}
            </form>
        </section>
    



     <form action="{% url 'login_page' %}" method="post" class="form-horizontal">
         {% csrf_token %} 
                     <div class="b1">
    <button class="glow-on-hover" type="submit"> Sign Up</button>
</div>

         </form>
        <h4><a href="/password_reset">Forgot password?</a></h4> 
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
