{% extends "app/layout.html" %}

{% block content %}

  <form action="" method="POST">
{% if s %}
        <body style="background-color:{{s.color}};">
    {% endif %}
            </form>



   {% if stu %}
<div class="container">

    <table style="width:100%">
      <thread>
        <tr>
          <th>tutor name&nbsp;</th>&nbsp;
          <th>number lessons&nbsp;</th>&nbsp;
          <th>price&nbsp;</th>&nbsp;
          <th>&nbsp;&nbsp;</th>
          <th></th>
        </tr>
        </thread>
        {% for sts in stu %}
        <tr>
          <td>{{ sts.tutor.name}}</td>
          <td>{{sts.numlessons}} </td>
          <td>{{ sts.tutor.price}}$</td>
          <td><form id="form1" action="deleteitem" method="post">
                                {% csrf_token %}
                                <a href="javascript:;" onclick="document.getElementById('form1').submit();">delete</a>
                                            <input type="hidden" name="tutor" value= {{ sts.tutor.name }} /></form></td>
          <td></td>
        </tr>

     {% endfor %}

    </table>  </div></br>
 <div style="float:right;color:antiquewhite;width:33%;outline-color:brown;">

    <form action="CheckOut" method="post" class="form-horizontal" >
             {% csrf_token %}
<button type="submit" >Buy Now</button>
              </form>

</div>
     </table>

{%else %}
<h1>There are no items in the cart!!</h1>

<form method="POST" action="back" enctype='multipart/form-data'>
              {% csrf_token %}

        <div class="submit">
            <input class="cta" type="submit" value="go for shopping"/>
        </div>
          </form>
{% endif %}


{% endblock %}