{% extends 'app/layout.html' %}

{% load static %}
{% block content %}
<style>
body {
    height:500px;
   width: 120%;
  background-image: url('https://cdn.hipwallpaper.com/i/8/53/vygBsh.jpg');
  background-size: 1400px 700px;
}
</style>

<div class="container">



{% if validlink %}

<h1> New password </h1>
    <form method="POST">
        <div class="form-group  ">
         {% csrf_token %}
         {{form }}
        <button type="submit" class="btn btn-primary">  Change </button>
        </div>


    </form>
</div>

{% else %}

Expire Link

{% endif %}


{% endblock %}
