
{% extends "app/layout.html" %}

  

{% block title %}Edit your profile{% endblock %}

{% block content %}
<style>
body {
    height:500px;
   width: 120%;
  background-image: url('https://cdn.hipwallpaper.com/i/8/53/vygBsh.jpg');
  background-size: 1400px 700px;
}
</style>

    {% if form.errors %}
        <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
    {% endif %}

    <h1>Edit your profile</h1>
    <form method="post" action="" class="form-input">
        {% csrf_token %}
        
        <img src='{{ MEDIA_URL }}{{ s.image }}' height="70" width="70">
        <div class="submit">
            <input class="cta" type="submit" value="Save"/>
        </div>
    </form>
{% endblock %}
