{% extends "app/layout.html" %}

{% block content %}


 <table style="width:100%">
      <thread>
        <tr>
          <th>student name&nbsp;</th>&nbsp;
          <th>number lessons&nbsp;</th>&nbsp;
          <th>phone&nbsp;</th>&nbsp;
          <th>email&nbsp;</th>
          <th></th>
        </tr>
        </thread>
        {% for sts in stu %}
        <tr>
          <td>{{ sts.student.name}}</td>
          <td>{{sts.numlessons}} </td>
          <td>{{ sts.student.phone}}</td>
          <td>{{sts.student.email}}</td>
          <td></td>
        </tr>

     {% endfor %}

{% endblock %}

